@font-face {
    font-family: "title_anicb";
    src: url("anicb___.ttf");
  }
@font-face {
    font-family: "symbole_tngan";
    src: url("tngan.ttf");
}
@font-face {
    font-family: "txt_partybusiness";
    src: url("partybusiness.ttf");
}
  
h3,h1,h4,h5,h2 {
    font-family: "title_anicb";
}
p {
    font-family: "txt_partybusiness";
}
.card-img {
    opacity: 0.6;
}

.ovl:hover img{
    opacity: 1;
    transition: 1s;
}
.ovl:hover .card-img-overlay{
    opacity: 0;
    transition: 1s;
}
    

 .ovl h5{
    color:orange;
    margin: auto;
    text-align: center;
    background-color: white;
 }

 .ovl .card-text{
    text-align: center;
    margin-top: 50%;
}

#join .float-left{
    padding-right: 10px;
}

.footer .row{
    text-decoration: none;   
    margin: auto;
}

.footer a{
    color: white;
}

.banniere img{
    max-height: 400px;
}

.navbar {
    background-color: #fe661d; 
}

#navbar-nav a{
    color: white;
    padding-top: 0;
    padding-bottom: 3px;
    
}

#navbarNav li{
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
    font-family: "title_anicb";
    
}

#navbarNav li:last-child{
    border: none;
}
#navbarNav li:hover{
    border-bottom-width: 3px;
    border-bottom-color: white;
    border-bottom-style: solid;
    padding-bottom: 0;
    

}
#fellows .nav-item a:hover{
    border-bottom-width: 4px;
    border-bottom-color: #fe661d;
    border-bottom-style: solid;
    color: #fe661d;
    padding-bottom: 0;
}
#fellows .nav-item a{
    padding-bottom: 4px;
}

#fellows a{
    color: grey;
    font-size: 1.5rem;
}
.carousel-caption p{
    font-size: 3rem;
}

.img-fluid {
    max-height: 400px;
    margin: auto;
}

#fellows .container {
    background-image: url("bg_light.png");
    background-repeat: repeat;

}

.symbol{
    font-family: "symbole_tngan";
    color: #fe661d;
}

.nav-pills > li > a.active {
 
    background-image: url("bg_light.png");
    background-repeat: repeat;
}

.pills-home-tab > li > a.active {
    background-image: url("bg_light.png");
    background-repeat: repeat; 
}
